@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
    @apply bg-[var(--bg-primary)] text-[var(--text-primary)] font-sans antialiased;
}

.container {
    @apply mx-auto max-w-screen-2xl px-4;
}

@layer base {
    :root {
        /* Light mode variables */
        --bg-primary: #ffffff;
        --bg-secondary: #f3f4f6;
        --text-primary: #111827;
        --text-secondary: #6b7280;
        --border-color: #e5e7eb;
        --accent-blue: #2563eb;
        --accent-red: #dc2626;
        --accent-green: #16a34a;
        --accent-yellow: #ca8a04;
    }

    .dark {
        /* Dark mode variables */
        --bg-primary: #111827;
        --bg-secondary: #1f2937;
        --text-primary: #f9fafb;
        --text-secondary: #9ca3af;
        --border-color: #374151;
        --accent-blue: #3b82f6;
        --accent-red: #ef4444;
        --accent-green: #22c55e;
        --accent-yellow: #eab308;
    }
}
